<html>
    <head>
        <link href="/styles/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <h1>Datos para la fecha: {{.Date}}</h1>
            </div>
        </header>
        <p>Cotizacion del dolar oficial: {{ printf "$%.2f" .Official}}</p>
        <p>Cotizacion del dolar blue: {{ printf "$%.2f" .Blue}}</p>
        <p>Porcentaje de variacion entre oficial y blue: {{ printf "%.2f" .Variacion }}% </p>
        <p>Pericotes ®</p>
        <img src="https://media.tenor.com/images/ba59f6e55c2db14858c369f925c505a4/tenor.gif" alt="Pericotes">
    </body>
    <script></script>
</html>