<html>
    <head>
    </head>
    <body>
        <header>
            <div>
                <h1>Datos para el Purecito y el Dolar Blue</h1>
                <img src="https://media.giphy.com/media/3o7aDcTD5ERBBY130s/giphy.gif" alt="Purecito">
                <img src="https://resizer.iprofesional.com/unsafe/640x360/https://assets.iprofesional.com/assets/gif/2013/04/376903.gif?3.5.0.3" alt="DolarBlue">
            </div>
        </header>
        <p>{{.Pure}}</p>
        <p>{{.Blue}}</p>
        <p>Pericotes ®</p>
       
    </body>
    <script></script>
</html>